<script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="src/jquery.cookie.js" type="text/javascript"></script>
<script type="text/javascript">
    console.log($.cookie('my_token'));
    if ( $.cookie('roles') == 'SUPER_ADMIN' ) location.href = 'table.html';
    if ( $.cookie('roles') == 'RETAILER' ) location.href = 'profile.html';
    if ( $.cookie('roles') == 'RESELLER' ) location.href = 'retailer.html';
</script>
</html>