<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>UDS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="static/css/material-dashboard2.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo2.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" rel="stylesheet" />
    <!--   Core JS Files   -->
    <script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="src/jquery.cookie.js" type="text/javascript"></script>
    <script src="src/jquery.inputmask.js" type="text/javascript"></script>
    <script src="src/core.js" type="text/javascript"></script>
    <script type="text/javascript"> testToken (); </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="preload">
        <div id="loader"></div>
    </div>
    <div class="wrapper" >
        <div class="sidebar" data-color="purple" data-image="static/img/sidebar-1.jpg" >
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="" class="simple-text">
                    label
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav" id="menus" style="display: none;" v-show="show" >
                    <li class="" v-for="me in menu" v-if=" me.role.indexOf( dataRole ) !== -1 || dataRole === '' ">
                        <a :href="me.src" >
                            <i class="material-icons">{{ me.icon }}</i>
                            <p> {{ me.page }}</p>
                        </a>
                        <ul class="nav" v-if="me.submenu != null">
                            <li class="submenu" v-for="sub in me.submenu"  v-if=" sub.role.indexOf( dataRole ) !== -1 || dataRole === '' "> 
                                <a :href="sub.src">
                                    <i class="material-icons">{{ sub.icon }}</i>
                                    <p> {{ sub.page }} </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel"  >
            <div class="alertPhoto" >
                <div class="modalBackFirstStart" v-if="modalBackFirstStart" ></div>
                <div class="modalback" v-if="panelEditorProfile" ></div>
                
                <div class="alert alert2 alert-danger" v-show="errorCreateAlert">
                    <button type="button" aria-hidden="true" class="close" @click="
                    errorCreateAlert=false; 
                    panelEditorProfile=false;
                    " >×</button>
                        <span>
                            {{ createError }}
                        </span>
                </div>

                <div class="card-content" v-show="goodAlert" id="goodAlert" style="display:none;" >
                    <div class="alert alert-success"  >
                        <button type="button" aria-hidden="true" @click="goodAlert=false"  class="close">×</button>
                            <span>{{ labelSucces }}</span>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-transparent navbar-absolute" id="promoShow">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Фотографии мест </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">0</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>1</li>
                                </ul>
                            </li>
                            <li>
                                <a href="profile.html" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="profile.html">Профиль клиента</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                        -->
                    </div>
                </div>
            </nav>
            <!-- Photo List -->
            <div class="content" id="photoList" >
                <div class="container-fluid">
                    <div class="row" >
                        <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 panelPhoto" v-for="(photo, index) in dataPhoto"  >
                            <div class="photoEmpytPanel" >
                                <div class="photo" :style="'background-image:url(' + photo + ');'"></div>
                            </div>
                            <div class="panelAddAndDel">
                                <input type="file" @change="sync" accept="image/*" @click="memoryPhoto=photo" class="download" >
                                <div class="pan">
                                    <svg fill="#000000" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path> <path d="M0 0h24v24H0z" fill="none"></path></svg>
                                </div>
                                <div class="text">
                                    Загрузить другое фото
                                </div>
                                <hr/>
                                <div style="margin-top:-60px;" @click="delPhoto(photo)">
                                    <div class="pan">
                                        <svg fill="#FF0000" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                        </svg>
                                    </div>
                                    <div class="text">
                                        Удалить фото
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 panelPhoto" >
                            <div class="photoEmpytPanel" style="cursor:pointer;">
                                <input class="download" type="file" @change="sync" name='rxFolder' accept="image/*" @click="memoryPhoto=''" >
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="dataPhoto.length < 1" style="text-align: center;">Нет Фото</div>
            </div>

            <!-- End photo list-->
        </div>
</body>


<!-- vue.js core --> 
<script src="src/vue.js" type="text/javascript"></script>
<script type="text/javascript">
    console.log($.cookie('my_token'));
</script>

<!-- pack multiselect-->
<script src="https://unpkg.com/vue-multiselect@2.0.6"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.6/dist/vue-multiselect.min.css">


<script src="src/AppMenu.vue" type="text/javascript"></script>
<script src="src/AppPhoto.vue" type="text/javascript"></script>
<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- Material Dashboard javascript methods -->
<script src="static/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="static/js/demo2.js"></script>
<script type="text/javascript">
    $('.preload').css('display','none');
            //_.userId = $.cookie('my_token');
    $("#phoneNumber").inputmask("+7(999)999-99-99");
    $( function() {
    $( "#endDate" ).datepicker( {
            dateFormat: "yy-mm-dd",
            minDate: +7, 
        });
    });
    $("#dendDate").inputmask("9999-99-99");

</script>
<style type="text/css">
@media (max-width: 480px), (max-width: 767px){
    .form-group .form-control {
        width: 100%!important;
    }
}
@media (max-width: 990px){
    .modal2 {
        left: 24%!important;
    }
}
.category {
    width: 95%;
    height: 40px;
    overflow: hidden;
}
.title {
    overflow: hidden;
}

.photoEmpytPanel {
    width: 200px;
    height: 200px;
    background-image: url('/static/img/sign.png');
    background-color: purple;
    border-radius: 6px;
    overflow: hidden;
    background-size: cover; 
    background-position: center;
}

.photoEmpytPanel .photo {
    background-size: cover; 
    background-position: center;
    background-color: #fff;
    width: 200px;
    height: 200px;
}

.photoEmpytPanel:hover {
    width: 200px;
    background-color: #b104b1;
    height: 200px;
    border-radius: 6px;
    cursor: pointer;
}

.photoEmpytPanel span {
    color: #fff;
    text-align: center;
    font-size: 100pt;
    padding: 62px;
    margin-top: 24px;
    position: absolute;
}
.photoEmpytPanel .download {
    width: 200px;
    height: 200px;
    z-index: 999999;
    opacity: 0;
}
.photoElement {
    width: auto;
    border-radius: 6px;
    clip: rect(0px 200px 200px 0px);
    min-width: 200px;
    max-height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}

.panelPhoto {
    min-width: 220px!important;
    padding-left: 1%;
    padding-bottom: 12px;
}

.panelAddAndDel {
    opacity: 0;
    width: 200px;
    height: 200px;
    background: #fff;
    z-index: 99999;
    margin-top: -200px;
    border-radius: 6px;
    transition: 0.3s;
}

.panelAddAndDel:hover {
    transition: 0.3s;
    opacity: 0.9;
}
.panelAddAndDel .pan {
    width: 30px;
    position: fixed;
    height: 43px;
    margin-top: 65px;
    margin-left: 30px;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.panelAddAndDel .text{
    font-size: 13pt;
    padding-left: 55px;
    padding-top: 50px;
    width: 160px;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.panelAddAndDel hr {
    margin-top: 8px!important;
    color: #333;
    background-color: #333;
    height: 1px;
}
.panelAddAndDel .download{
    z-index: 9999999999;
    width: 200px;
    height: 100px;
    position: absolute;
    opacity: 0;
}
</style>

</html>
