<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>UDS</title>
  <!-- Bootstrap core CSS     -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <!--  Fonts and icons     -->
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet">
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="static/css/themify-icons.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <!--  Material Dashboard CSS    -->
  <link href="static/css/material-dashboard.css" rel="stylesheet" />
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="static/css/demo.css" rel="stylesheet" />
  <link href="static/css/style.css" rel="stylesheet" />
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />

</head>
<body>
    <!--
<div class="loader" id="loader" >
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>
-->
    <div class="preload" >
        <div id="loader"></div>
    </div>

    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div id="navMenuTop" class="container" style="display:none;" v-show="show">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/dashboard">{{ logoText }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="  ">
                        <a href="index.html">
                            <i class="material-icons">fingerprint</i> {{ loginText }}
                        </a>
                    </li>
                    <li class=" active ">
                        <a href="reset.html">
                            <i class="material-icons">person_add</i> {{ registerText }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="wrapper wrapper-full-page">
        <div class="full-page lock-page" filter-color="black" data-image="static/img/lock.jpeg">
            <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
            <div class="content" id="resetForm">
                <form method="#" action="#" id="resetFullForm">
                    <div class="card card-profile card-hidden" style="width:340px!important" >
                        <div class="card-content" v-if="seeResetForm">
                            <h4 class="card-title" v-if="seetextForm">{{ textForm }}</h4>
                            <h4 class="card-title" v-if="seetextFormStep2">{{ textFormStep2 }}</h4>
                            <div class="form-group label-floating" v-if="seeBlockEmail">
                                <label class="control-label">{{ textEmail }}</label>
                                <input @keyup.space="replace()" @keyup.enter="false" maxlength="55" type="email" v-model="email" :value="email" class="form-control" id="email">
                            </div>
                            <div class="form-group label-floating" v-if="seeBlockPass">
                                <label class="control-label">{{ textPass }}</label>
                                <input type="text" maxlength="55" v-model="pass" class="form-control">
                            </div>
                            <div v-if="seeCaptcha" class="form-group label-floating">
                                <div class="g-recaptcha" data-sitekey="6LdSGDYUAAAAAI-odF6jDFJvxz1QBlGPY_GTN1Sq"></div>
                            </div>
                        </div>
                        <div class="card-content" v-if="seeResetFormFinal">
                            <h4 class="card-title">{{ seetextFormStep3 }}</h4>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-rose btn-round" @click="resetEmail" v-if="seeBtnSendResetEmail">{{ textBtn }}</button>
                            <button type="button" class="btn btn-rose btn-round" @click="pullNewPass" v-if="seeBtnSendNewPass">{{ textNewPass }}</button>

                        </div>
                        <div class="err" v-if="err">{{ errText }}</div>
                    </div>
<!-- -->

<!-- -->

                </form>
            </div>
        </div>
    </div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--   Core JS Files   -->
<script src="static/js/core/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/core/material.min.js" type="text/javascript"></script>
<script src="static/js/core/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="static/js/core/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="static/js/plugins/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="static/js/plugins/chartist.min.js"></script>
<!--  Plugin for the Wizard -->
<script src="static/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="static/js/plugins/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<script src="static/js/plugins/bootstrap-datetimepicker.js"></script>
<!-- Vector Map plugin -->
<script src="static/js/plugins/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="static/js/plugins/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Select Plugin -->
<script src="static/js/plugins/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<script src="static/js/plugins/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="static/js/plugins/sweetalert2.min.js"></script>
<!--  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="static/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="static/js/plugins/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<script src="static/js/plugins/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="static/js/material-dashboard-angular.js"></script>
<!-- Material Dashboard Init Off Canvas Menu -->
<script src="static/js/init/initMenu.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="static/js/demo.js"></script>
<script type="text/javascript">
    $().ready(function() {
        demo.checkFullPageBackgroundImage();

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
  </script>
<!-- Vue app -->
<!-- vue.js core --> 
<script src="src/vue.js" type="text/javascript"></script>
<!-- vue app -->

<script src="src/core.js" type="text/javascript"></script>

<script src="src/AppReset.vue" type="text/javascript"></script>


<script type="text/javascript">
  console.log(gets);
</script>
<!-- fix -->
<style>
.err {
  text-align: center;
  height: 42px!important;
  color: black!important;
}
</style>
<script src="src/AppStatic.vue" type="text/javascript"></script>
<script type="text/javascript">
  $('.preload').css('display','none');
</script>
</body>
</html>
