.err {
  text-align: center;
  height: 42px;
  z-index: 99999;
  color: black;
}
.preload {
  width: 100%;
  height: 100%;
  /*background: #1d1b1b;*/
  z-index: 9999999999;
  position: absolute;
  opacity: 1;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.control-label2 {
    top: -10px;
    left: 0;
    font-size: 13px;
    line-height: 1.07143;
}

.inline {
    display: inline;
}

.modal2 {
    z-index: 1051;
    top: 20%;
    left: 35%;
    position: fixed;
}

.modalback {
    width: 100%;
    height: 115%;
    background: #fff;
    position: fixed;
    z-index: 1000;
    opacity: .4;
    overflow-x: hidden;
    overflow-y: hidden;
}

.modalBackFirstStart {
    position: absolute;
    width: 100%;
    height: 10000%;
    background: #EFEFEF;
    z-index: 999999999;
}

.submenu {
    left: 10px;
    top: -17px;
}

#goodAlert {
    position: fixed;
    width: 141px;
    left: 49%;
    top: 38%;
    z-index: 2;
}

.titleСhanged {
    display: inline-block;
    margin-top: 10px;
    float: left;
    padding-right: 25px;
}
.btnSpecial {
    display: inline-block;
    padding: 20px;
    font-size: 15pt;
    text-transform: uppercase;
    color: purple;
    cursor: pointer;
}

td,th {
    text-align: center;
}

ul.paginator li {
    display: inline;
    padding-left: 35px;
    cursor: pointer;
    text-transform: uppercase; 
}

.leftInformerofPaginator {
    text-transform: uppercase; 
    margin-top: 20px;
    font-size: 11pt!important;
    color: rgba(0, 0, 0, 0.87)!important;
}

.activePage {
    border-radius: 100%;
    padding: 9px;
    padding-right: 9px;
    padding-left: 9px;
    padding-left: 14px;
    padding-right: 14px;
    background: purple;
    color: #fff;
    box-shadow: 0 0 5px;
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
    border: 0px;
}

.specialSearch {
    margin-top: -10px!important;
    margin-right: 10px!important;
    margin-bottom: 0px!important;
}

.voidContent {
    margin-top: 100px;
    text-align: center;
    font-size: 21pt;
    padding-bottom: 25px;
}

.miniTable {
    overflow-y: auto;
    display: block;
    overflow-x: auto;
}

.searchMobile {

}

.mobileFixSize {
    min-height: 90px;
}
@media ( max-width: 780px ) {
    .searchMobile {
        margin: auto;
    }
}

@media ( max-width: 780px ) and ( min-width: 768px ) {
    .mobileFixSize {
        min-height: 120px;
    }
}

@media ( max-width: 1365px ) {
    .leftInformerofPaginator {
        display:block!important;
        text-align: center;
    }
    .centerMobilaNavBar {
        float: none !important;
        text-align: center;
        width: 100%;
    }
}
@media ( max-height: 1000px ) {
    .mobileForm {
        max-height: 680px;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media ( max-height: 830px ) {
    .mobileForm {
        height: 450px;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media ( max-height: 730px ) {
    .mobileForm {
        height: 350px;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media ( max-height: 565px ) {
    .mobileForm {
        height: 300px;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media ( max-width: 990px ) {
    .modal2 {
        width: 80%;
        left: 10%;
    }
}

.avatar {
    width: 100px!important;
    height: 100px!important;
    border-radius: 2px;
}
#app{
	width: 100px;
	height: 100px;
}

#app .item{
    position: absolute;
    padding: -13px;
    margin: -15px;
    border-radius: 1px;

}
.alert2 {
    position: fixed;
    z-index: 1900;
    left: 30%;
    top: 10%;
    min-width: 330px;
}

/* datapicer start */

@import "bourbon";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$main-color: #284B72;
$width: 325px;

.ui-datepicker,
.ui-datepicker-material-header {
  font-family: 'Roboto';  
}

.ui-datepicker-material-header {
  display: block;
  background-color: $main-color;
  color: white;
  text-align: center;
  width: $width;
  
  .ui-datepicker-material-day {
    background-color: #1F3A58;
    padding: 10px;
    font-size: 1rem;
  }
  
  .ui-datepicker-material-date {
    padding: 20px;
    
    .ui-datepicker-material-month,
    .ui-datepicker-material-day-num,
    .ui-datepicker-material-year {
      padding: 5px;
    }
    .ui-datepicker-material-month {
      font-size: 2rem;
      text-transform: uppercase;
    }
    
    .ui-datepicker-material-day-num {
      font-size: 4.5rem;
    }
    
    .ui-datepicker-material-year {
      font-size: 1.8rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.ui-datepicker {
  padding: 0;
  border: none;
  box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
  width: $width;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
}

.ui-datepicker-header {
  text-align: center;
  background: white;
  padding-bottom: 15px;
  font-weight: 300;
  
  .ui-datepicker-prev,
  .ui-datepicker-next,
  .ui-datepicker-title {
    border: none;
    outline: none;
    margin: 5px;
  }
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none;
  outline: none;
  background: lighten($main-color, 50%);
}

.ui-datepicker-calendar {
  .ui-state-default {
    background: none;
    border: none;
    text-align: center;
    height: 33px;
    width: 33px;
    line-height: 36px;
  }
  
  .ui-state-highlight {
    color: $main-color;
  }
  
  .ui-state-active {
    border-radius: 50%;
    background-color: $main-color;
    color: white;
  }
  
  thead th {
    color: #999999;
    font-weight: 200;
  }
}

.ui-datepicker-buttonpane {
  border: none;
  
  .ui-state-default {
    background: white;
    border: none;
  }

  .ui-datepicker-close,
  .ui-datepicker-current {
    background: white;
    color: $main-color;
    text-transform: uppercase;
    border: none;
    opacity: 1;
    font-weight:200;
    outline: none;
    
    &:hover {
      background: lighten($main-color, 50%);
    }
  }
}

/* datapicer end */

#app {
  background: #4caf50;
  background: url(../img/default-avatar.png);
  background-size: cover;
}

.card .editBtnAction {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: -29px;
  z-index: 1;
  opacity: 0;
  transition: .5s;
}

.card:hover .editBtnAction {
  opacity: 1;
  transition: 1.5s;
}

.card .cart-animate {
  margin-top: -10px;
  margin-bottom: 0px;
  transition: .5s;
  background-size: cover!important;
  background-position-x: center!important;
  background-position-y: center!important;
}

.card:hover .cart-animate {
  margin-top: -45px;
  margin-bottom: 35px;
  transition: .5s;
}
.promoImg {
  position:absolute;
  width: 97%!important;
  border-radius: 3px;
  clip: rect(0px 1000px 160px 0px);
  padding: 0px;
}
.cardPromoImg {
  width: 100px;
  height: 100px;
  background: #F5F5F5!important;
  overflow: hidden;
}

.cardPromoImg span {
  color: #3A4857;
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: -15px;
  margin-left: -15px;
  opacity: 0;
  z-index: 1;
  padding-top: 36px;
  transition: 0.3s;
}

.cardPromoImg:hover span {
  transition: 0.3s;
  opacity: 0.85;
  z-index: 9999;
  background-color: #fff;
}

.cardPromoImg img {
  /*width: auto;
  position: absolute;*/
  margin: -15px;
  border-radius: 2px;
  /*clip: rect(0px 100px 100px 0px);*/
  min-width: 100px;
  min-height: 100px;
  max-height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.cardPromoImg .download {
  z-index: 9999999999;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: -15px;
  opacity: 0;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 8px solid #FE6550;
  margin-top: 3.5px;
  border-radius: 56px;
}

#rxChevron {
  width: 70px;
  background: #FE6550;
  margin-left: 3%;
  border-radius: 0px 0px 4px 4px;
  height: 33px;
  text-align: center;
  font-size: 20px;
  padding-top: 7px;
  font-weight: 500;
  color:#fff;
}
.category {
  overflow-x:hidden;
}

.promoPanelInfo {
    box-shadow: 0 12px 20px -10px rgba(68, 70, 68, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2)!important;
}